.contreiner{
    width: 200px;
    height: 200px;
    background-color: antiquewhite;
    margin: 0 auto;
    box-shadow: 1px solid black;
    text-align: center;
}
h1{
    font-size: 22px;
    font-style: 'roboto';
    font-weight: bold;
    line-height: 28px;
}
p{
    font-size: 14px; 
    font-weight: lighter;
    line-height: 18px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.img{
    width: 80px;
    height: 80px;
    float: left;
    border-radius: 50%;
}
.text{
    font-size: 14px;
}